<!DOCTYPE html>
<html>
<head>
	<title>C'est l'heure du D-D-D-D-D-DUEL!!(8)</title>
	<link rel="stylesheet" type="text/css" href="css/game.css">
</head>
<body>
<script type="text/javascript">
	var nbCases=5;
</script>
<header>
	HENS TCG OP POPO
</header>
<% 
	for(var i = 0;i< 5;i++){
%>
	<div class="case" style="border:1px solid red;width:50px;height:100px; float:left; top:100px;"></div>
<% } %>

<script type="text/javascript">
	 var socket = io.connect('http://localhost:8080');
</script>
</body>
</html>